.container {
  margin-top: 30px;
}

.card {
  max-width: 300px;
  margin-bottom: 20px;
}

.list-group-item {
  margin-bottom: 10px;
}

.float-end {
  float: right;
}

#favoritesList {
  margin-top: 20px;
}
.favorite-item-image {
  width: 400px;
  height: 400px;
}
